body {
  padding-top: 320px;
  background-image: url('../images/beans_bg2.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom;
  filter: saturate(.7);
}

.album {
  background-color: transparent !important;
}

.fixed-section {
  position: fixed;
  top: 60px;
  left: 0;
  right: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 999;
}

.valid-feedback,
.invalid-feedback {
  display: none;
}

input:valid+.valid-feedback {
  display: block;
  color: green;
}

input:invalid+.invalid-feedback {
  display: block;
  color: red;